@import 'vendor/normalize.css';
@import 'vendor/skeleton.css';

body{
  background-color: black;
}

//panel
.panel {
  background-color: white;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
  .body{
    padding: 20px;
  }

  &:hover{
    background-color: transparent;
    transition: background-color 0.3s ease-out;
  }
}

.nav{
  background-color: white;

  .body{
    h1{
      display: inline;
    }//h1

    a{
      text-decoration: none;
      color:black;
      transition: text-shadow 0.2s ease-out;

    }//a

    a:hover{
      /*@keyframes color-switch {
          0%   {text-shadow: 8px 8px rgba(30, 2, 1, 0.3);}
          25%  {text-shadow: 8px 8px rgba(10, 5, 23,0.3);}
          50%  {text-shadow: 8px 8px rgba(88, 58, 90, 0.3);}
          100% {text-shadow: 8px 8px rgba(22,34, 50, 0.3);}
      }
      text-shadow: 8px 8px blue;
      -webkit-animation: color-switch 8s ease infinite;
      animation: color-switch 8s ease infinite;
      */
    }//ahover

    div {
      display: inline-block;
      float: right;
    }//div
  }//body


} //nav

.row{

  a{
    color: black;
    transition: color 0.2s ease-in;
    text-decoration: none;


  }

  a:hover{
    color:white;
  }
}


//form input
.form-input-close{
  margin:0;
  padding: 0;
  width:100%;
  height: 0;
}

.form-input-open{
  background-color: white;

  width:100%;
  height: 350px;
}


input{
  background-color: transparent;
}
